{% extends "base.html" %}

{% block content %}
  {% if next %}
    {% if user.is_authenticated %}
      <p class="alert alert-danger">
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
      </p>
    {% else %}
      <p class="alert alert-info">Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div class="container mt-3 text-center">
    <div class="card p-3 d-inline-block">
      <form method="post" action="{% url 'login' %}" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
          {{ form.username }}
        </div>
        <div class="mb-3">
          <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
          {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
        {% if form.errors %}
          <p class="text-danger mt-3">Your username and password didn't match. Please try again.</p>
        {% endif %}
      </form>

      {# Link to reset password #}
      <p class="text-center"><a href="{% url 'password_reset' %}" class="btn btn-link">Lost password?</a></p>

      {# Link to register #}
      <p class="text-center">No tienes cuenta? <a href="{% url 'authentication:sign_up' %}" class="btn btn-link">Regístrate</a></p>
    </div>
  </div>
{% endblock %}
